/* global */

* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Roboto', sans-serif;
    font-size: 1.2rem;
    color: #151515;
}

/* text */

h1, h2, h3, h4, h5, h6 {
    font-family: 'Libre Baskerville', serif;
}

h1 {
    font-size: 2.4rem;
}

h2 {
    font-size: 2rem;
}

h3 {
    font-size: 1.4rem;
}

p {
    margin: 1rem 0;
}

/* hyperlink */

a {
    text-decoration: none;
    color: #151515;
    font-weight: 800;
}

a:hover {
    color: #00EFEF;
}

/* horizontal ruler */

hr {
    margin: 0 auto;
    border: 0;
    border-top: 1px solid #C0C0C0;
    width: 80%;
  }

/* site container */

#container {
    margin: 0px auto;
    padding: 20px;
    max-width: 1200px;
}

/* header and navigation */

#logo {
    border-radius: 50%;
    border: 10px;
}

header > * {
    margin: 0 0 20px 0;
}

header, nav {
    text-align: center;
}

nav {
    text-transform: uppercase;
}

nav ul {
    list-style: none;
}

nav li {
    display: inline-block;
    background: #151515;
    border-radius: 20px;
    padding: 10px 30px;
    font-size: 1.2rem;
}

nav a {
    color: #FFFFFF;
}

/* footer */

footer {
    text-align: center;
    padding-top: 20px;
}

.social {
    margin: 0 10px;
}

/* misc semantic */

main {
    display: flex;
    justify-content: center;
    flex-flow: row wrap;
}

section {
    box-sizing: border-box;
    padding: 20px 10%;
    text-align: center;
}

/* featured content component */

.featured, #contact {
    box-sizing: border-box;
    width: 30%;
    padding: 20px;
    text-align: left;
}

/* about */

#about {
    width: 100%;
}

/* blog post */


/* large screen breakpoint */

@media only screen and (max-width: 1024px)
{
    .featured {
        width: 50%;
        padding: 20px 5%;
    }
    
    #contact {
        width: 100%;
        padding: 20px 10%;
        text-align: center;
    }
}

/* medium screen breakpoint */

@media only screen and (max-width: 768px)
{
    .featured {
        width: 100%;
        padding: 20px 10%;
        text-align: center;
    }
}